
html, body {
   margin:0;
   padding:0;
   height:100vh;
}

.art-deco-font {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* NAV BAR */
a {
    color: #c2185b; 
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a:hover {
    color: #220511;
}
/* SECTIONS */
/* FORMS  ICLUDING LOGIN AND REGITER*/
.float-right {
    float: right;
}
.form-padding {
    padding: 1em;
}
#card-horizontal-title {
    margin-left: 1em;
}
.form-login-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
/* ALL Recipes */
.class-size {
    height: 9em;
}
#description {
    height: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-title-spice {
    background-color: #ee7565;
    opacity: 0.75;
    width: 100%;
    height: 2em;
}
.fix-image-size > h4 {
    color: white;
    font-size: 3em;
    position: relative;
    left: 1em;
    top: 2em;
    text-shadow: 3px 2px 3px rgba(50, 50, 50, 1);
}
.card-title-spice > #recipe_name {
    font-size: 0.9em!important;
    padding-bottom: 0px;
    white-space: nowrap; 
    width: 8em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.card-title-spice > #race_day_name {
    font-size: 0.9em!important;
    padding-bottom: 0px;
    white-space: nowrap; 
    width: 8em; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 20px;
}
#sorting-bar > a {
    color: #00695c;
    margin-top: 1.5em;
    margin-right: 0.5em;
}
/* USER RECIPES */

.add-recipe-box {
    margin-top: 2em;
    padding-bottom: 2em!important;
}
.add-recipe-box > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#top-collection-item {
    padding-top: 2em!important;
}
#bottom-collection-item {
    padding-bottom: 1px!important;
}
#my-recipe-name {
    font-size: 2em;
}
#my-recpe-description {
    margin-top: 1em;
}
#sorting-bar-my-recipes {
    width: 100%;
}
#sorting-bar-my-recipes > h4 {
    color: white;
}
#sorting-bar-my-recipes > a {
    color: #00695c;
    margin-top: 1.5em;
    margin-right: 0.5em;
}
.section-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.section-navbar {
    font-size: 1.2rem;
    margin-top: 20px;
    height: 170px;
    overflow: hidden;
    width:100%;
}
.section-navbar .menu-list {
    justify-content: space-between; 
}
.scroll-tab{
    overflow: auto;
}
.section-navbar nav ul a {
    color: #2d2d2d;
    font-size: 1.1rem;
    font-family: 'Muli', 'sans-serif';
}

/* Background Images*/
/* MEDIA QUERIES */

@media (max-width:600px) {          
    .mobile-hide {
        display: none!important;
    }   
}
nav ul a,
nav .brand-logo {
    color: #444;
    font-weight: bold;
}
p {
    line-height: 2rem;
}
.sidenav-trigger {
    color: #26a69a;
}

@media only screen and (max-width : 992px) {            
 
    #index-banner .section {
        top: 10%;
  }
}
@media only screen and (max-width : 600px) {         
    #index-banner .section {
        top: 0;
  }
}
/* Dashboard File */

.dashboard-graph {
    width: 100%; 
}
.row {
    margin:0 !important;
}
.dc-chart{
    color:black;
}
.x.axis text {
    font-size: 20px;
}
.y.axis text {
    font-size: 15px;
}
/*-----------------------------end Dashboard--------------*/
#counter-box-my-recipes {
    width: 8em;
    height: 8em;
    color: white;
}
#counter-box-my-recipes > .number-display {
    font-size: 3em;
}
#counter-box-my-recipes > p {
    font-size: 1.4em;
    margin-bottom: 0;
}
#reset-button {
    margin-top: 1.3em;
}
.margin-left {
    margin-left: 1em;
}
.dc-chart th {
    text-align: left
}
.dc-chart th,.dc-chart td {
    padding-left: 10px;
}
.dc-chart tr.dc-table-group td {
    padding-top: 4px;
    border-bottom: 1px solid black;
}
.dc-chart select {
    width: 150px;
}
#selector-container > div > select {
    display: block;
}
.search-selector {
    display: inline-block;
}
.search-selector > p {
    font-size: 2em;
}
#teal-box {
    height: 100px;
}
#meal-found {
    margin-top: 1em;
    margin-bottom: 1em;
}
#datatable {
    margin-bottom: 2em;
}

/* MQ Footer */
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
footer.page-footer {
    margin: 0;
}
.clearfix {
    clear:both;
}
.text-center {text-align:center;}

.header {                    /*############### header  */
    padding:20px 0;
    position:relative;
    margin-bottom:10px; 
    font-size:3em;
}
.header:after {
    content:"";
    display:block;
    height:1px;
    left:30%; right:30%;
}
.header h2 {
    font-size:3em;
    font-weight:300;
    margin-bottom:0.2em;
}
.header p {
    font-size:14px;
}

.success-box {
    margin:20px 0;
    padding:10px 10px;
    border:1px solid #eee;
    background:#f9f9f9;
}
.success-box img {
    margin-right:10px;
    display:inline-block;
    vertical-align:top;
}
.success-box > div {
    vertical-align:top;
    display:inline-block;
    color:#888;
}

/* Social Icons */
.facebook {
    background-color: #3b5998;
    color: #fff !important;
}
.facebook i {
    color: #fff !important;
}
.facebook:hover {
    background-color: #4c70ba !important;
}
.github {
    background-color: #444444;
    color: #fff !important;
}
.github i {
    color: #fff !important;
}
.github:hover {
    background-color: #5e5e5e !important;
}
.strava {
    background-color: #fc4c02;
    color: #fff !important;
}
.strava i {
    color: #fff !important;
}
.strava:hover {
    background-color: #FD7035 !important ;
}
.pinterest {
    background-color: #cb2027;
    color: #fff !important;
}
.pinterest i {
    color: #fff !important;
}
.pinterest:hover {
    background-color: #e03e44 !important;
}
.twitter {
    background-color: #55acee;
    color: #fff !important;
}
.twitter i {
    color: #fff !important;
}
.twitter:hover {
    background-color: #83c3f3 !important;
}
/*.......Media Icons....................*/

#media {
    position:relative;
    top:100px;
    top:25vh;
    font-size:1rem;
    text-align:center;
    height:250px;
    overflow:hidden;
}
#media a {
    display: inline-block;
	text-decoration: none;
	padding: 1px;
}
/*.......Icons Responsive..............*/

.info{
    font-size: 1.3rem;
    text-align: center;
}
.flashes h4 {
    line-height: 2;
}
/*   Media Query Contact US */
img {
    display:block;
}

/*----------MQ second navbar--------------*/

@media (max-width:600px) {          /* max 600 iPhone*/
    
    .header {
        font-size: 20px;
        line-height: 110%;
        
    }
    .add-recipe-box > a {
        width: 100%;
    }        
}

.space-menu {
    text-align: center;
}
/*-------------getready main image  -----------------*/

.img-responsive{
    height:auto;
    width: 100%;
    object-fit: cover;     
}
 /*-------------getready collapsible image with text --------------------*/
 
 @media (max-width:600px) {   /* iPhone 380 mode  plus max-width 600px*/
    
    .center-text {
         color: black;         
     }

    .subnav-img-right {
        display: none;
    } 
    .ready-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        font-size: 30px;
    }  
 } 

 @media (max-width:600px) {            /*380px index-banner in all-recipes to max 600 for iPhone*/
     .index-banner {
         height: 100%;
         width:100%;
     }
     .blue-text {
          font-size: 25px;        
     }   
 }  

 /*-------------recipes----------------------*/
.search-by {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 40px;
        margin-top: 20px;
 }  
 /*-----------input field----------------*/
 .input-field-icon  {
        position: relative;      
 }
 i.search {
        position: absolute;
        top: 50%;
        left: 15px;
}
/*-----------result from search recipes----------------*/
.container-result{   
        min-height: calc(100vh - 95px);     
}
/*------------------Footer---------------------------------*/

#footer-custom {
    width: 100%;
    box-sizing: border-box;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;   
}
.footer-heading {
    font-size: 1.2em;
}
.footer-text {
    font-size: 1.3em;
    color: black;
}
.author-text{
    color:black;
}
#footer-custom .footer-left,
#footer-custom .footer-right{
	display: inline-block;
	vertical-align: top;
}
#footer-custom .footer-left{
	width: 60%;
}
#footer-custom .footer-right{
	width: 30%;
}
#footer-custom .footer-icons{
	margin-top: 25px;
}
#footer-custom .footer-icons a{
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 3px;
    font-size: 15px;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
    margin-right: 3px;
	margin-bottom: 5px;
}
#footer-custom .footer-icons a i {
    margin-top: 6px;
}

@media (max-width: 1023px) {                  /* footer for iPad*/
	#footer-custom .footer-right,
	#footer-custom .footer-left{
		display: block;
		width: 100%;
		margin-bottom: 20px;      
		text-align: center;
	}    
}

/*.........ready page..................*/
.subnav-img-right {
    background-image: url('../img/thisImageIs.png') !important;
    background-size: 100% 100%;         /*cover*/
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width:100%;
    padding-top: 5px;
}

.ready-text{
     display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        font-size: 25px;
}
.ready-para1 {
    margin-bottom: 10px;
    color: red;
}
.ready-para2 {
    margin-bottom: 10px;
    color:red;
}
.ready-para4 {
    margin-bottom: 15px;
   /* font-size: 20px;*/
    
}
.ready-para3 {
    color:black;
}

/*............ register.html..............*/

.log-text{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*    MQ for iPAD */

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .subnav-img-right {
        width: 100%;
    }
    .ready-text{
        font-size: 30px;
    }
    .header {
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 0;   
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .container-login {  
         min-height: 100%;
    }    
}
    .container-login{
        min-height: 50vh;      
    }

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .container-register {
       min-height: 100%;
    }   
}
    .container-register{
        min-height: 50vh;
   }

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .container-contactUs {
       min-height: 100%;
    }   
    .header-center-us p {
        font-size: 25px;
    }
    .header  {
        font-size:3em;
        font-weight:300;
        margin-bottom:0.2em;
}
}
.container-contactUs{
    min-height: 50vh;
    
}
/*........recipe description..........*/

.header-description{

    position:relative;
    margin-bottom:10px; 
    /*font-size:3em;*/

}

/* input type for images */

input[type="file"] {
    display: hidden;   
    color:transparent;    
}

 .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select Recipe Image';
  display: inline-block;
  background: -webkit-linear-gradient(top, #39d346, #28cacf);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  height: 3rem;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#image_recipe{
     outline: none;
}