/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
.vh100 {
    min-height: 100vh;
}

section {
    padding: 100px 0px;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.h1 {
  color: orange;
}

.my-container {
    min-height: 35em;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  width: 100%;
  line-height: 0;
  height: auto;
  color: #251c1c;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .index-topic .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  .index-topic .section {
    top: 0;
  }
}
.index-topic {
    position: absolute;
    width:100%;
    height: min-content;
    padding-top: 3%;
    background: url("/static/images/blueberries.jpeg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
} 




.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.header {
  padding:20px 0;
  position:relative;
  margin-bottom:10px;
  
}

.header:after {
  content:"";
  display:block;
  height:1px;
  left:30%; right:30%;
}

.header h2 {
  font-size:3em;
  font-weight:300;
  margin-bottom:0.2em;
}

.header p {
  font-size:14px;
}

#sorting-bar {
    margin: 0.8em;
    height: 5em;
}

#sorting-bar > h5 {
    color: white;
}

#sorting-bar > a {
    color: #00695c;
    margin-top: 1.5em;
    /*width: 25%*/
    margin-right: 0.5em;
}

/* NAV BAR */

a {
  color: #c2185b;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
  











