{% extends 'base.html' %}

{% block content %}

<h2 class="">Add Recipe</h2>
<div class="row">
    <form action="" method="POST" class="col s12">
        
        <div class="row white form-padding">
        <div class="input-field col s12">
          <i class="material-icons prefix">accessibility</i>
          <input disabled value="{{session['username']}}" id="author_name" name="author_name" type="text" class="validate">
          <label for="icon_prefix">Your Name</label>
        </div>
        </div>
        <div class="row white form-padding">
        <div class="input-field col s12">
          <i class="material-icons prefix">cake</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="icon_cake">Recipe Name</label>
        </div>
      </div>
      
      <div class="row white form-padding">
        <div class="input-field col s12">
            <i class="material-icons prefic">expand_more</i>
        <select class="form-select" id="meal_type" name="meal_type" required>
               <option value="" disabled selected>Choose Your Meal Type (*)</option>
               {% for meal in meal_type %}
               <option value="{{meal.meal_type}}">{{meal.meal_type}}</option>
               {% endfor %}
        </select>
        <label>Choose Your Meal Type</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
            <i class="material-icons prefic">expand_more</i>
        <select class="form-select" id="sport_type" name="sport_type" required>
               <option value="" disabled selected>Choose Your Sport Discipline (*)</option>
               {% for sport in sport_type %}
               <option value="{{sport.sport_type}}">{{sport.sport_type}}</option>
               {% endfor %}
        </select>
        <label>Choose Your Sport Discipline</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
            <i class="material-icons prefic">expand_more</i>
        <select class="form-select" id="race_day" name="race_day" required>
               <option value="" disabled selected>Choose Your Prefered Race Meal (*)</option>
               {% for race in race_type %}
               <option value="{{race.race_day}}">{{race.race_day}}</option>
               {% endfor %}
        </select>
        <label>Pick Your Prefered Race Meal</label>
        </div>
        </div>
        
    </form>
  </div>



















{% endblock %}