{% extends 'base.html' %}

{% block content %}

<div class="col m10 offset-m1 s12">
    <h2 class="header center teal-text text-lighten-2">Contact US</h2>


<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix grey-text text-darken-2">directions_run</i>
          <input id="icon_directions_run" type="text" class="validate" required="required">
          <label for="icon_directions_run">Your Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix grey-text text-darken-2">email</i>
          <input id="icon_email" type="email" class="validate" required="required">
          <label for="icon_email">Your Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix grey-text text-darken-2">chat</i>  
          <textarea id="icon_chat" class="materialize-textarea" required="required"></textarea>
          <label for="icon_chat">Enter Your Message</label>
        </div>
      </div>
      <br></br>
                    <div class="row">
                        <div class="col m12">
                         <p class="center-align"><button class="btn btn-large waves-effect waves-light" type="button" name="action">Send Message</button></p>
                        </div>
                    </div>
      
    </form>
  </div>
  <div class="row">
      <div class=" center-align col s12">
        <a class="waves-effect waves-light btn-large social facebook" href="https://www.facebook.com/">
        <i class="fa fa-facebook"></i> Like Us on facebook</a>
        <a class="waves-effect waves-light btn-large social twitter" href="https://www.twitter.com/">
        <i class="fa fa-twitter"></i> Follow Us on twitter</a>
        <a class="waves-effect waves-light btn-large social strava" href="https://www.strava.com/">
        <i class="fab fa-strava"></i> Follow Us on strava</a>
        <a class="waves-effect waves-light btn-large social pinterest" href="https://www.pinterest.com/">
        <i class="fa fa-pinterest"></i> Follow Us pinterest</a>
      </div>
  </div>



</div>
</div>



















{% endblock %}