{% extends 'base.html' %}

{% block content %}

<div class="container-dashboard">
	<div class="row center">
		<div class="search-by text-center">Dashboard</div>
	</div>
	<div class="row">
		<div id="meal_type-graph" class="dashboard-graph">
			<h5 class="art-deco-font center">Favourite Meal Type</h5>
		</div>
	</div>
	<div class="row">
		<div id="sport_type-graph" class="dashboard-graph">
			<h5 class="art-deco-font center">Favourite Sport Type</h5>
		</div>
	</div>
	<div class="row">
		<div id="race_day-graph" class="dashboard-graph">
			<h5 class="art-deco-font center">Favourite Race Day</h5>
		</div>
	</div>
	<div class="row dashboard-graph">
		<div id="vegan_meal-graph" class="dashboard-graph">
			<h5 class="art-deco-font center">Meal for Vegan</h5>
		</div>
	</div>
	<p id="hidden-recipes" hidden>{{recipes|safe}}</p>
</div>
{% endblock %}

{% block script %}
<!-- D3, Crossfilter and DC and dashboard (assets) -->
<script type="text/javascript" src="{{url_for('static', filename='assets/d3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/crossfilter.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/dc.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/queue.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='work-template/js/graphics.js')}}"></script>
{% endblock %}