{% extends 'base.html' %}

{% block content %}

<div class="container-dashboard">
        <div class="row center">
            <h3>Dashboard</h3>
        </div>
            <div class="row">
                <div id="meal_type-graph" class="dashboard-graph">
                    <h5 class="art-deco-font center">Favourite Meal Type</h5>
                </div>
            </div>
        <div class="row dashboard-graph">
            <div id="sport_type-graph" class="col s12 m6 x14">
                <h5 class="art-deco-font center">Favourite Sport Type</h5>
            </div>
        </div>
        <div class="row dashboard-graph">
            <div id="race_day-graph" class="col s12 m6 x14">
                <h5 class="art-deco-font center">Favourite Race Day</h5>
            </div>
        </div>
        <div class="row dashboard-graph">
            <div id="vegan_meal-graph" class="col s12 m6 x14">
                <h5 class="art-deco-font center">Favourite Meal for Vegan</h5>
            </div>
        </div>
    <p id="hidden-recipes" hidden>{{recipes|safe}}</p>           
</div>
{% endblock %}

{% block script %}
<script>

$(document).ready(function(){
    console.log('Loading data...');
    $.getJSON("/find_recipes", function(data) {
        console.log(data);
        makeGraphs(data);
    });
});

</script>
{% endblock %}