{% extends 'base.html' %}


{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='work-template/css/getready.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static', filename='work-template/css/style.css')}}" type="text/css" />
{% endblock css %}

{% block content %}


<!--<div class="container">-->
<section id="container">

<div class="my-container">
    
<!--<div class="content-wrapper pt-5 mb-5 row vh100">-->



  
    <div id="container">
       
     <div class="container"> <!--parallax-container -->
     <!--<div class="col-12 col-md-6 text-center"> -->
     <h1 class="header center teal-text text-lighten-2">Eat slow and race faster!</h1>
        <div class="sport">
        <img class="sport" src="static/images/triathlonpic.jpg" alt="nutrition on the table" style="width:100%">
        </div>
        
        
        
        
        <h2 class="header col s12 light center">Our goal is to prepare you for next competition with fully recovery</h2>
        
        <div class="row center">
        <a href="{{url_for('add_recipe')}}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 text-center">Get Started</a>
        </div>
        
        
    

        <h2 class="center col s12 lighten">Start with good nutrition</h2>
        
       
</div>
</div>
</div>
</div>
<!--</section>-->

<div class="container">
<!--  <div class="section"> -->
    <div class="row">
      <div class="col s12 center">
        <!--<h3><i class="mdi-content-send brown-text"></i></h3>-->
        <h4>About Us</h4>
        
        <p class="center-align light">Our priority is to prepare you for a race with our experience and give you an advice to race in confortable zone.</p>
        <br>
        <p class="center-align light">If you have any suggesstions, you would like to added or share your recipe, please feel free to contact us.</p>
        <br>
        <p class="center-align light">For easy navigation please click the buton below and find your recipe to prepare you for a race.</p>
        <br>
        <p class="center-align light">If you like more than just add your recipe, please signin</p>
        
      </div>
      {% block search_form_btn %}
						<li id="search-form-toggle" class="nav-item center">
							<a href="/search_form" id="search-btn" class="btn btn-outline-info">
								<i class="fas fa-search"></i>
							</a>
						</li>
			{% endblock search_form_btn %}	
     
    </div>
    
    
</div>
</section>
</div>



















{% endblock %}
