{% extends 'base.html' %}


{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='work-template/css/getready.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static', filename='work-template/css/style.css')}}" type="text/css" />
{% endblock css %}

{% block content %}

<div id="index-banner">
                <div class="section no-pad-bot">
                    <div class="parallax-container">
                            <div class="header-center-title">
                                <h1 class="header center grey-text text-lighten-5">Our goal is to prepare you for next competition with fully recovery</h1>
                            </div>
                            <div class="header-center">
                                <h1 class="header center black-text">Eat slow and race faster!</h1>
                            </div>
                            <div class="img-responsive-header">
                                <img class="parallax img-responsive img-fluid" src="static/images/thisImageIs.jpg" alt="nutrition">
                            </div>
                            <div class="header-center">
                                <h2 class="header center grey-text text-lighten-5">Start with good nutrition</h2>
                            </div>
                            <div class="header-center">
                                <h4 class="header center black-text">With Us</h4>
                            </div>
                        
                    </div> 
                </div>

            <div class="menu-list center">
                           
                      <div>
                            <button type="button" class="collapsible" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="#collapseExample">
                                            <!--############# Image Button ########################-->
                            <img class="subnav-img-right" src="{{ url_for('static', filename='images/salmon.jpg') }}" alt="Post Race Meal">Post Race Meal</button>
                            
                            <div class="collapse content" id="collapseExample">
                                <div class="mt-3 text-race-image">
                                    <div class="card card-body card-forThree">
                                               1. Create your Nutrition account with your Recipes.</br>
                                               2. Make your sugestions with your favourite meals for another athletes.</br>
                                               3. Share your experience and bring your favourite meal in preparation or in racing day or even your favourite recovery meal.
                                    </div>
                                </div>
                            </div>
                     </div>
                      
            </div>  
   </section>
  
        <div>
        <h4 class="center-align col s12 black-text collapse-bottom-text">If you have any suggesstions, you can add and share your recipe with us.</h4>
        </div>   
</div>
                  
<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>


















{% endblock %}
