{% extends 'base.html' %}

{% block content %}


<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2" class="">Eat slow and race faster</h1>
        <div class="row center">
          <h5 class="header col s12 light">Our idea is to prepare our athletes to compete and recover yourself for another raceday.</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
    <img class="parallax"><img src="static/images/topic.jpg" alt="Nutrition for athletes">
  </div>
  <h3 class="header text-center">Our Recipes</h3>















{% endblock %}
