{% extends 'base.html' %}


{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='work-template/css/getready.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static', filename='work-template/css/style.css')}}" type="text/css" />
{% endblock css %}

{% block content %}


<!--<div class="container">-->
<div id="index-banner">
    <div class="section no-pad-bot">
      <div class="parallax-container">
        <div class="header-center-title">
            <h1 class="header center blue-text text-lighten-2">Our goal is to prepare you for next competition with fully recovery</h1>
        </div>
        <div class="header-center">
            <h1 class="header center teal-text text-lighten-2">Eat slow and race faster!</h1>
        </div>
        <div class="img-responsive-header">
            <img class="parallax img-responsive img-fluid" src="static/images/backwater.jpg" alt="nutrition">
        </div>
        <div class="header-center">
            <h2 class="center center-text">Start with good nutrition</h2>
        </div>
        <div class="header-center">
            <h4 class="center center-text">With Us</h4>
        </div>
        
      </div> 
        
    </div>

     
    <section class="section-container section-navbar no-pad-bot">
    <nav>
    <div class="grey lighten-4 grey-menu">  <!--nav-wrapper-->
    <ul class="menu-list center">
                 <li>
                    <a href="{{ url_for('get_pre_race_meal') }}">
                    <div class="space-menu">
                    <img class="subnav-img-left"src="{{ url_for('static', filename='images/preRaceM.jpg') }}" alt="Pre Race Meal">Pre Race Meal</div></a>
                    
                </li>
                <li>
                    
                    <a href="{{ url_for('get_race_meal') }}">
                    <div class="space-menu">
                    <img class="subnav-img-center" src="{{ url_for('static', filename='images/rice-race.jpg') }}" alt="Race Meal">Race Meal</div></a>
                    
                    <!--<p class="txt">Race Meal</p>-->
                    <!--<a href="{{ url_for('get_race_meal') }}">Race Meal</a>-->
                </li>
                <li>
                    <a href="{{ url_for('get_post_race_meal') }}">
                    <div class="space-menu">
                    <img class="subnav-img-right" src="{{ url_for('static', filename='images/salmon.jpg') }}" alt="Post Race Meal">Post Race Meal</div></a>
            
                   <!--<a href="{{ url_for('get_post_race_meal') }}">Post Race Meal</a>-->
                </li>

    </ul>

      
      
    </div>  
    </nav>  
    </section>

        
        
        
        <h1 class="center-align col s12 purple-text light">If you have any suggesstions, you can add and share your recipe with us.</h1>
        
        
    
    
    
    
</div>
</section>
</div>



















{% endblock %}
