{% extends 'base.html' %}

{% block content %}

<h2 class="">Insert Your Recipe</h2>
<div class="row">
    <form action="{{ url_for('submit_to_database') }}" method="POST" class="col s12">
        
        <div class="row white form-padding">
        <div class="input-field col s12">
          <i class="material-icons prefix">accessibility</i>
          <input disabled value="" id="author_name" name="author_name" type="text" class="validate">
          <label for="author_name">Your Name</label>
        </div>
        </div>
        <div class="row white form-padding">
        <div class="input-field col s12">
          <i class="material-icons prefix">cake</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe Name</label>
        </div>
      </div>
      
      <div class="row white form-padding">
        <div class="input-field col s12">
            
        <select id="meal_type" name="meal_type_name" required>
               <option value="" disabled selected>Choose Your Meal Type (*)</option>
               {% for meal in meal_type %}
               <option value="{{meal.meal_type_name}}">{{meal.meal_type_name}}</option>
               {% endfor %}
        </select>
        <label>Choose Your Meal Type</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
            
        <select id="sport_type" name="sport_type_name" required>
               <option value="" disabled selected>Choose Your Sport Discipline (*)</option>
               {% for sport in sport_type %}
               <option value="{{sport.sport_type_name}}">{{sport.sport_type_name}}</option>
               {% endfor %}
        </select>
        <label>Choose Your Sport Discipline</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
            
        <select id="race_day" name="race_day_name" required>
               <option value="" disabled selected>Choose Your Prefered Race Meal (*)</option>
               {% for race in race_day %}
               <option value="{{race.race_day_name}}">{{race.race_day_name}}</option>
               {% endfor %}
        </select>
        <label>Pick Your Prefered Race Meal</label>
        </div>
        </div>
        <div class="row white form-padding">
        <div class="input-field col s12">
          <i class="material-icons prefix">brush</i>
          <input id="description" name="description" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row white form-padding">
        <div class="input-field col s12">
        <input placeholder="Please Enter Recipe Image URL eg: 'Http://www.images.com/sample.jpg" id="image_recipe" name="image_recipe" type="text"  class="validate"  required>
        <label for="image_recipe">Recipe Image</label>
        </div>
      </div>
      
      <div class="row white form-padding">
        <div class="input-field col s12">
            
        <select class="form-select" id="vegan_meal" name="vegan_type_name" required>
               <option value="" disabled selected>Is this Recipe Vegan? (*)</option>
               <option value="true">Yes</option>
               <option value="false">No</option>
        </select>
        <label>Choose Your Vegan Meal</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
        <input placeholder="Day/Month/Year, i.e., 03/04/2019" id="due_date" name="due_date" type="text" class="validate" required>   
        
        <label for="due_date">Date Your Recipe</label>
        </div>
        </div>
        <div class="row white form-padding">
        <div class="input-field col s12">
        <a id="submit-form-button" href="" class="#880e4f green darken-4 btn waves-effect waves-light" name="action" data-url="{{ url_for('submit_to_database') }}">
        Submit <i class="far fa-check-circle fa-xs"></i>
        </a>
        </div>
        </div>
        
        
    </form>
  </div>
































{% endblock %}

