{% extends 'base.html' %}

{% block content %}

<h2 class="">Insert Your Recipe</h2>
<div class="row">
    <form action="{{ url_for('submit_to_database') }}" method="POST" class="col s12">
        
        <div class="row white form-padding">
        <div class="input-field col s12">
          <i class="material-icons prefix">accessibility</i>
          <input value="{{session['username']}}" id="author_name" name="author_name" type="text" class="validate">
          <label for="author_name">Your Name</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
          <i class="material-icons prefix">cake</i>
          <input value="{{recipe.recipe_name}}" id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe Name</label>
        </div>
      </div>
      
      <div class="row white form-padding">
        <div class="input-field col s12">
        <input value="{{recipe.meal_type}}" id="meal_type" name="meal_type" type="text" class="validate">
        <label for="meal_type">Meal Type</label>    
        <label>Choose Your Meal Type</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
            
          <input value="{{recipe.sport_type}}" id="sport_type" name="sport_type" type="text" class="validate">
          <label for="sport_type">Sport Type</label>
        <label>Choose Your Sport Discipline</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
            
          <input value="{{recipe.race_day}}" id="race_day" name="race_day" type="text" class="validate">
          <label for="race_day">Race Day</label>
        <label>Pick Your Prefered Race Meal</label>
        </div>
        </div>
        
        <div class="row white form-padding">
        <div class="input-field col s12">
          <i class="material-icons prefix">brush</i>
          <input value="{{recipe.description}}" id="description" name="description" type="text" class="validate">
          <label for="description">Description</label>
          
        </div>
      </div>
      
      <div class="row white form-padding">
        <div class="input-field col s12">
          <input value="{{recipe.image_recipe}}" id="image_recipe" name="image_recipe" type="text" class="validate">
          <label for="image_recipe">Recipe Image</label>
        
        </div>
      </div>
      
      <div class="row white form-padding">
        
        <label>Choose Your Vegan Meal</label>
            <select class="form-select" id="vegan_meal" name="vegan_meal">
                <option value="" disabled selected>Is vegan? (*)</option>
                {% if recipe['vegan_meal'] == 'true' %}
                <option value="true" selected >Yes</option>
                <option value="false">No</option>
                {% else %}
                <option value="true">Yes</option>
                <option value="false" selected >No</option>
                {% endif %}
            </select>
            <label>Is this Recipe Vegan?</label>
        </div>
        
        
        <div class="row white form-padding">
        <div class="input-field col s12">
        <button id="submit-form-button" href="" class="#880e4f green darken-4 btn waves-effect waves-light" type="submit" name="action" data-url="{{ url_for('update_my_recipe', recipe_id=recipe._id) }}">
        Submit <i class="far fa-check-circle fa-xs"></i>
        </button>
        </div>
        </div>
        
        
    </form>
  </div>
































{% endblock %}

