{% extends 'base.html' %}

{% block content %}
<div class="container-login">
	<div class="col m10 offset-m1 s12">
		<div class="search-by text-center">Please Log In to your account</div>
	</div>
	<div class="row white form-login-container">
		<form class="col s12" method="POST" action="{{url_for('login')}}">
			<div class="row">
				<div class="input-field col s12">
					<input id="author_name" name="author_name" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
					<label for="author_name"><i class="fas fa-user"></i> Author Name</label>
				</div>
				<div class="input-field col s12">
					<input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
					<label for="password"><i class="fa fa-university"></i> Password</label>
				</div>
			</div>
			<button class="light-blue btn waves-effect waves-light" type="submit">Log In</button>
		</form>
	</div>
	<div class="log-text">If you do not have an account, please click on the button below.</div>
	<button type="button" class="btn waves-effect waves-light" onclick="window.location.href='{{ url_for('register')}}'">Register Here</button>
</div>

{% endblock %}