{% extends 'base.html' %}

{% block content %}

<p>Please enter Your Username</p>
    <div class="row white">
        <form class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="" name="" type="text" class="validate" required> 
                    <label for=""><i class="fas fa-user"></i> Username</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                Submit
            </button>
        </form>
    </div>

























{% endblock %}