{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s12 white center add-recipe-box">
        <div class="icon-block">
            <h2 class="center brown-text art-deco-font">Add a Recipe</h2>
            <p class="light center">Click to open a form that will let you write your recipe and add it to your favourite recipe menu.</p>
        </div>
        <a href="/get_my_form" class="waves-effect waves-light btn #880e4f pink darken-4">Add a Recipe</a>
    </div>
</div>
<div id="sorting-bar-my-recipes" class="row #00695c teal darken-3">
    <h4 class="art-deco-font col s12 m5">My Recipes</h4>
    <a id="sort-by-date-button" class="waves-effect waves-light btn white col s6 m3"><i class="far fa-calendar"></i></i> First in First Out</a>
    
</div>

<div class="row collection-container">
    {% for recipe in recipes %} {% if recipe.author_name == username %}
    
     <div class="my-recipe-colelction-item">
         <ul class="collection">
            <li class="collection-item avatar" id="top-collection-item">
                <img src="{{recipe.image_recipe}}" alt="" class="circle">
                <span id="my-recipe-name" class="title art-deco-font"><strong>{{recipe.recipe_name}}</strong></span>
                <p class="date-added">{{recipe.due_date}}</p>
                <p id="my-recipe-description">{{recipe.description}}</p>
                <span><strong>Meal Type:</strong> {{recipe.meal_type_name}} |</span>
                <span><strong>Sport Type:</strong> {{recipe.sport_type_name}} |</span>
                <span><strong>Race Profile:</strong> {{recipe.race_day_name}}</span>
               
             
             
            </li>
            <li class="collection-item" id="bottom-collection-item">
                <div class="row">
                    <div class="col s3 art-deco-font"><a href="/recipedescription/{{ recipe._id }}" class="secondary-content"><i class="fas fa-utensils"></i> Go to Recipe</a></div>
                    <div class="col s3 art-deco-font"><a href="/edit_recipe/{{ recipe._id }}" class="secondary-content"><i class="far fa-edit"></i> Edit</a></div>
                    <div class="col s3 art-deco-font"><a href="#!" class="secondary-content modal-trigger" data-target="modal-confirm-delete-{{ recipe._id }}"><i class="far fa-trash-alt"></i> Delete</a></div>
                </div>
                
            </li>
            
        </ul> 
        
        <!--Modals -->
        
        <div id="modal-confirm-delete-{{ recipe._id }}" class="modal">
            <div class="modal-content">
                <h4>Please Confirm That You Wish To Delete The Recipe</h4>
                <p>This will permanently delete the recipe from the cookbook.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel and Go Back</a>
                <a href="/delete_my_recipe/{{ recipe._id }}" class="modal-close waves-effect waves-green btn-flat">Confirm Delete</a>
            </div>
        </div>
        
        
     </div>
    
    
    
    
    
    
    
    {% endif %} {% endfor %}
</div>   
<script>
$(document).ready(function(){
    $('.modal').modal();
  });
    
    
</script>
























{% endblock %}