{% extends 'base.html' %}

{% block content %}


<div class="vh100 container pb-5">
    
    <ul id="navigation-pictures" class="row">
        {% for recipe in recipes %}
        <div class="col m4" data-date="{{ recipe.due_date }}">
        <div class="picture">
            <div class="recipe-picture">
                <img src="{{recipe.image_recipe}}" width="250" height="200">
                <div class="picture-name picture-name-meal">
                   <span id="recipe_name" name="recipe_name" class="picture-name art-deco-font">{{ recipe.recipe_name }}</span>
                </div> 
            </div>
            <div class="picture-content class-size">
                <p id="description">{{recipe.description}}</p>
            </div>
            <div class="picture-action">
                <a href="/recipedescription/{{recipe._id}}">See Recipe Description</a>
            </div>
        </div>    
        </div>    
        {% endfor %}
    </ul>
</div>
<div id="see-more-meal">
    
</div>

</div>
<!--</section>-->








{% endblock %}