{% extends 'base.html' %}

{% block content %}

<div id="sorting-bar" class="row #00695c teal lighten-3">
    <h4 class="art-deco-font col s3 m3">Our Cookbook</h4>
    <a id="sort-by-meal-type-button" class="waves-effect waves-light btn white col s4 m2"><i class="fas fa-align-justify"></i> Recipes</a>
    <a id="sort-by-rating-button" class="waves-effect waves-light btn white col s4 m2"><i class="far fa-grin-stars"></i> Stories</a>
    <div class="search-container col s4 m2">
        <form action="#">                                         <!-- general_search -->
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    
</div>


















{% endblock %}