{% extends 'base.html' %}

{% block content %}
<div class="container-register">
	<div class="col m10 offset-m1 s12">
		<!--<div class="header center teal-text text-lighten-2">Please create your account</div>-->
        <div class="search-by text-center">Please create your account</div>
	</div>
	<div class="row white">
		<form class="col s12" method="POST" action="{{ url_for('register')}}">
			<div class="row">
				<div class="input-field col s12">
					<input id="author_name" name="author_name" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
					<label for="author_name"><i class="fas fa-user"></i> Author Name  (min 5 and max 15 characters)</label>
				</div>
				<div class="input-field col s12">
					<input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
					<label for="password"><i class="fa fa-university"></i> Password  (min 5 and max 15 characters)</label>
				</div>
			</div>
			<button class="btn waves-effect waves-light" type="submit">Create Account</button>
		</form>
	</div>
	<div class="log-text">If you have already your account with us, please click on the button below.</div>
	<button type="button" class="light-blue btn waves-effect waves-light" onclick="window.location.href='{{ url_for('login')}}'">Login Here</button>
</div>

{% endblock %}