{% extends 'base.html' %}

{% block content %}

<div class="index-topic container-fluid">
<div class="content-wrapper pt-5 mb-5 row vh100">		
		<form id="search-form" class="container-fluid px-5" method="POST" action="/search_form">
			<h2 class="py-5 text-center text-light"> Search by ...</h2>
			<div class="row">				
				<div class="form-group col-12 col-md-6 offset-md-1">		
					<input name="search_input" type="text" class="form-control text-center font-weight-bold" minlength="3" maxlength="30" placeholder="Between 3-30 characters">
					<p id="input-search-messages" class="text-center  text-light mt-2"></p>
				</div>
				<div class="form-group col-12 col-md-2" >
					<input name="limit" type="number" class="form-control text-center font-weight-bold" placeholder="Limit results" min="0">
				</div>
				<div class="form-group col-12 col-md-2">
					<button id="input_search_btn" onclick="input_search()" class="btn btn-block btn-outline-warning" disabled> By? </button>
				</div>
	 	   </div>
	 	   <div class="row">
				<h2 class="col-12 py-3 text-center text-light">Or by your preparation for your race</h2>
		   </div>
		   <div class="row">
		       <div class="form-check col-sm-6 col-md-3">
		           <h4 class="mt-3">Meal Types</h4>
		           <hr>
		           <div class="row">
		               <div class="col-6">
		                   {%for x in forms[0].mealTypes[:4] %}
		                   <div class="form-check">
		                       <input class="form-check-input" name="mealTypes-0{{ loop.index }}" type="checkbox" value="{{x}}" id="mealTypes-0{{ loop.index }}">
		                       <label class="">
		                           
		                       </label>
		                   </div>
		                  {% endfor %}
		               </div>
		           </div>		           
		       </div>
		       <div class="form-check col-sm-6 col-md-3">
		           <h4 class="mt-3">Sport Types</h4>
		           <hr>
		           <div class="row">
		               <div class="col-6">
		                  {%for x in forms[0].sportTypes[:5] %}
		                   <div class="form-check">
		                       <input class="form-check-input" name="sportTypes-0{{ loop.index }}" type="checkbox" value="{{x}}" id="sportTypes-0{{ loop.index }}">
		                       <label class="">
		                           
		                       </label>
		                   </div>
		                  {% endfor %}
		               </div>		           
		       </div>  
		   </div>
		   <div class="form-check col-sm-6 col-md-3">
		           <h4 class="mt-3">Vegan</h4>
		           <hr>
		           <div class="row">
		               <div class="col-6">
		                  {%for x in forms[0].diets[:2] %}
		                   <div class="form-check">
		                       <input class="form-check-input" name="diets-0{{ loop.index }}" type="checkbox" value="{{x}}" id="diets-0{{ loop.index }}">
		                       <label class="">		                           
		                       </label>
		                   </div>
		                  {% endfor %}
		               </div>
		           </div>		           
		       </div>
		       <div class="form-check col-sm-6 col-md-3">
		           <h4 class="mt-3">Race Day</h4>
		           <hr>
		           <div class="row">
		               <div class="col-6">
		                   {%for x in forms[0].raceDay[:3] %}
		                   <div class="form-check">
		                       <input class="form-check-input" name="raceDay-0{{ loop.index }}" type="checkbox" value="{{x}}" id="raceDay-0{{ loop.index }}">
		                       <label class="">		                           
		                       </label>
		                   </div>
		                  {% endfor %}
		               </div>
		           </div>		           
		       </div>	 	   
		</form>
</div>
</div>   
    
{% endblock %}